$main-color: #0f3057;
$secondary-color: #00587a;

.btn {
  border-radius: 0px;
  border-width: 0px;
  width: 5em;
  height: 5em;
  &:hover {
    background-color: $secondary-color !important;
  }
  &:focus {
    background-color: $secondary-color !important;
    border-radius: 0px;
    border-width: 0px;
    width: 5em;
    outline: none;
    height: 5em;
  }
}
