@use '../../../Theme' as theme;

.btn {
  border-radius: 0px;
  border-width: 0px;
  width: 156px;
  text-align: center;
  height: 5em;
  cursor: pointer;
  color: theme.$secondary;
  font-size: 1rem;
  word-wrap: break-word;
  word-break: normal;
  &:hover {
    background: radial-gradient(theme.$tertiary, theme.$primary) !important;
  }
  &:focus {
    background: theme.$tertiary !important;
    outline: none;
  }
  &.inactive {
    visibility: hidden;
  }

  &.active {
    visibility: visible;
  }
}
