@use '../Theme' as theme;

.loading {
  color: theme.$secondary;
}

.header {
  background-color: theme.$primary;
  width: 100%;
  display: flex;
  height: auto;
}
.conversion-type {
  width: 200px;
  height: 100%;
  background-color: theme.$primary;
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background: theme.$secondary;
    border-radius: 12px 0px 0px 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: theme.$primary;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: theme.$tertiary;
  }
  overflow-y: scroll;
  overflow-x: hidden;
}
.page {
  background-color: theme.$primary;
  height: 100%;
  width: 100%;
}
.inner-page {
  display: flex;
  height: 90%;
  flex-direction: row;
}
.scroll-bars {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.app-face {
  background-color: theme.$secondary;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding: 0px 10px 0px 10px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: theme.$secondary;
  }
  &::-webkit-scrollbar-thumb {
    background: theme.$primary;
    border-radius: 10px 0px 0px 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: theme.$tertiary;
  }

  h1 {
    visibility: visible;
    display: inline;
    font-family: theme.$Poppins;
    font-size: xx-large;
    color: theme.$primary;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
.face {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}
.invisible {
  visibility: hidden;
}
.equal-sign {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
input {
  color: theme.$primary;
  background-color: theme.$secondary;
  font-size: 40px;
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 20px;
  margin-top: 10px;
  border-color: theme.$primary;
  &:focus {
    outline: none;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

span {
  color: theme.$secondary;
  text-align: center;
  font-family: theme.$Poppins;
  font-size: 1.2rem;
  transition: transform 1s ease-in-out;
}

.button-bar {
  $width: 300px;
  $height: 300px;
  position: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 55px 55px;
  gap: 100px;
  grid-template-rows: 55px 55px;
  z-index: 20;
  background-color: transparent;
  left: calc(50% - 300px / 2);
  width: $width;
  height: $height;
  top: -300px;
  transform: scale(0);
  transition: transform 1s ease-out, top 1s ease-out;

  .buttons {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: theme.$primary;
    box-shadow: 0px 0px 5px 5px theme.$primary;
    .secondary {
      transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
      fill: inherit;
      stroke: inherit;
    }
    svg {
      fill: theme.$secondary;
      &:hover {
        fill: theme.$accent;
      }
    }
    .stroke-svg {
      fill: none;
      stroke: theme.$secondary;
      &:hover {
        fill: none;
        stroke: theme.$accent;
      }
    }
  }
}
.button-bar-open {
  top: 80px;
  transform: scale(1);
}

.open-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: theme.$primary;
  border: 2px solid theme.$tertiary;
  border-top: none;
  padding: 5px;
  min-width: 100px;
  left: calc(50% - 55px);
  border-radius: 0px 0px 10px 10px;
  color: theme.$secondary;
  text-align: center;
  font-family: theme.$Poppins;
  font-size: 1rem;
  z-index: 21;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;

  svg {
    transition: transform 0.5s ease-in-out;
    line {
      stroke: theme.$secondary;
      stroke-width: 5px;
      stroke-linecap: round;
    }
  }
}

.close {
  svg {
    transform: rotateX(180deg);
  }
}
.exit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  right: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  background-color: transparent;

  cursor: pointer;
}
.left {
  right: none;
  left: 0;
}
.page-modal {
  position: fixed;
  z-index: 100;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(87, 87, 87, 0.2);

  .settings-page {
    box-sizing: initial;
    background-color: theme.$secondary;
    width: 680px;
    height: 350px;
    border-radius: 30px;
    border: 5px solid theme.$primary;
    padding: 5px 10px 10px 10px;
    h3 {
      position: relative;
      width: 75px;
      left: calc((680px / 2) - (75px / 2));
      top: -40px;
      font-family: theme.$Poppins;
      font-size: 1.5rem;
      color: theme.$primary;
    }
    .exit {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 650px;
      top: 10px;
      width: 32px;
      height: 32px;
      background-color: transparent;

      cursor: pointer;
    }
    .settings-list {
      display: grid;
      grid-template-columns: 400px 150px;
      grid-template-rows: 100px 100px;
      h4 {
        align-self: center;
        justify-self: center;
        font-family: theme.$Poppins;
        font-size: 1.2rem;
        color: theme.$primary;
      }
      /* The switch - the box around the slider */
      .switch {
        align-self: center;
        justify-self: center;
        position: relative;
        display: inline-block;
        width: 63px;
        height: 34px;
      }

      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: theme.$secondary;
        transition: 0.4s;
        border-radius: 34px;
        border: 2px solid theme.$primary;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        top: 2px;
        left: 4px;
        bottom: 4px;
        background-color: theme.$primary;
        transition: 0.4s;
        border-radius: 50%;
      }

      input:checked + .slider {
        background-color: theme.$primary;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px theme.$primary;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        background-color: theme.$secondary;
      }
    }
  }
}
.history {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: theme.$secondary;
  height: 400px;
  width: 900px;
  z-index: 10;
  top: 35%;
  left: 15%;
  align-items: center;
  justify-content: flex-start;
  border: 5px solid theme.$primary;
  border-radius: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: top 1s ease-in-out;
  &::-webkit-scrollbar {
    width: 20px;
  }
  &::-webkit-scrollbar-track {
    background: theme.$secondary;
    border-radius: 0px 20px 20px 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: theme.$primary;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: theme.$tertiary;
  }
  .close-history-btn {
    position: absolute;
    right: 0px;
    top: 5px;
  }
  h3 {
    color: theme.$primary;
    font-family: theme.$Poppins;
    font-size: 1.3rem;
  }
  .clear-history {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: theme.$primary;
    font-family: theme.$Poppins;
    font-size: 1.3rem;
  }

  .history-data {
    display: grid;
    grid-template-columns: 490px 490px;
    grid-template-rows: 30px 15px;
    .from {
      grid: 1 1;
      color: theme.$primary;
      font-family: theme.$Poppins;
      font-size: 1.3rem;
    }
    .to {
      color: theme.$primary;
      font-family: theme.$Poppins;
      font-size: 1.3rem;
      grid: 2 1;
    }
    .history-input {
      color: theme.$primary;
      font-family: theme.$Poppins;
      font-size: 1rem;
      grid: 1 2;
    }
    .history-output {
      color: theme.$primary;
      font-family: theme.$Poppins;
      font-size: 1rem;
      grid: 2 2;
    }
  }
}

.calculator {
  position: fixed;
  background-color: theme.$secondary;
  border: 5px solid theme.$primary;
  border-top: none;
  border-right: none;
  border-radius: 0px 0px 0px 15px;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  width: 300px;
  height: 305px;
}

.x-close-btn:hover {
  background-color: theme.$primary;
  transform: rotateZ(-90deg);
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
  line {
    stroke: theme.$secondary;
  }
}
.x-close-btn line {
  stroke: theme.$primary;
  stroke-width: 5px;
  stroke-linecap: round;
}
