<div class="loading" *ngIf="!isPageLoaded">Loading...</div>

<div class="page" *ngIf="isPageLoaded">
  <div class="button-bar" [ngClass]="{ 'button-bar-open': buttonBarToggle }">
    <div title="Feedback" class="buttons" (click)="feedback()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="50"
        height="50"
        fill="none"
        stroke="#e7e7de"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="stroke-svg"
      >
        <circle class="secondary" cx="12" cy="12" r="10"></circle>
        <line class="secondary" x1="12" y1="8" x2="12" y2="12"></line>
        <line class="secondary" x1="12" y1="16" x2="12" y2="16"></line>
      </svg>
    </div>
    <div title="Settings" class="buttons" (click)="toggleSettings()">
      <svg
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="50"
        height="50"
        viewBox="0 0 482.568 482.568"
        xml:space="preserve"
      >
        <path
          class="secondary"
          d="M116.993,203.218c13.4-1.8,26.8,2.8,36.3,12.3l24,24l22.7-22.6l-32.8-32.7c-5.1-5.1-5.1-13.4,0-18.5s13.4-5.1,18.5,0
        l32.8,32.8l22.7-22.6l-24.1-24.1c-9.5-9.5-14.1-23-12.3-36.3c4-30.4-5.7-62.2-29-85.6c-23.8-23.8-56.4-33.4-87.3-28.8
        c-4.9,0.7-6.9,6.8-3.4,10.3l30.9,30.9c14.7,14.7,14.7,38.5,0,53.1l-19,19c-14.7,14.7-38.5,14.7-53.1,0l-31-30.9
        c-3.5-3.5-9.5-1.5-10.3,3.4c-4.6,30.9,5,63.5,28.8,87.3C54.793,197.518,86.593,207.218,116.993,203.218z"
        />
        <path
          class="secondary"
          d="M309.193,243.918l-22.7,22.6l134.8,134.8c5.1,5.1,5.1,13.4,0,18.5s-13.4,5.1-18.5,0l-134.8-134.8l-22.7,22.6l138.9,138.9
        c17.6,17.6,46.1,17.5,63.7-0.1s17.6-46.1,0.1-63.7L309.193,243.918z"
        />
        <path
          class="secondary"
          d="M361.293,153.918h59.9l59.9-119.7l-29.9-29.9l-119.8,59.8v59.9l-162.8,162.3l-29.3-29.2l-118,118
        c-24.6,24.6-24.6,64.4,0,89s64.4,24.6,89,0l118-118l-29.9-29.9L361.293,153.918z"
        />
      </svg>
    </div>
    <div title="History" class="buttons" (click)="toggleHistory()">
      <svg
        width="50"
        height="50"
        viewBox="0 0 134 200"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="stroke-svg"
      >
        <path
          class="secondary"
          d="M18 2.5H76C96.7107 2.5 113.5 19.2893 113.5 40V164C113.5 172.56 106.56 179.5 98 179.5H18C9.43959 179.5 2.5 172.56 2.5 164V18C2.5 9.43959 9.43959 2.5 18 2.5Z"
          stroke="black"
          stroke-width="5"
        />
        <path
          class="secondary"
          d="M36 20.5H94C114.711 20.5 131.5 37.2893 131.5 58V182C131.5 190.56 124.56 197.5 116 197.5H36C27.4396 197.5 20.5 190.56 20.5 182V36C20.5 27.4396 27.4396 20.5 36 20.5Z"
          stroke="black"
          stroke-width="5"
        />
        <line
          class="secondary"
          x1="36.5"
          y1="36.5"
          x2="100.5"
          y2="36.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <line
          class="secondary"
          x1="36.5"
          y1="50.5"
          x2="100.5"
          y2="50.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <line
          class="secondary"
          x1="36.5"
          y1="65.5"
          x2="100.5"
          y2="65.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <line
          class="secondary"
          x1="36.5"
          y1="81.5"
          x2="100.5"
          y2="81.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <rect
          class="secondary"
          x="35.5"
          y="99.5"
          width="66"
          height="66"
          rx="7.5"
          stroke="black"
          stroke-width="3"
        />
        <path
          class="secondary"
          d="M55 131L35.5 148V160L37.5 163.5L42 165.5H87L55 131Z"
          stroke="black"
          stroke-width="3"
        />
        <circle
          class="secondary"
          cx="82.5"
          cy="119.5"
          r="8"
          stroke="black"
          stroke-width="3"
        />
      </svg>
    </div>
    <div title="Calculator" class="buttons" (click)="toggleCalculator()">
      <svg
        width="50"
        height="50"
        viewBox="0 0 39 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect class="secondary" y="7" width="16" height="2" fill="black" />
        <rect
          class="secondary"
          x="7"
          y="16"
          width="16"
          height="2"
          transform="rotate(-90 7 16)"
          fill="black"
        />
        <path class="secondary" d="M0 33H16V36H0L0 33Z" fill="black" />
        <rect class="secondary" y="26" width="16" height="3" fill="black" />
        <rect
          class="secondary"
          x="23"
          y="30"
          width="16"
          height="2"
          fill="black"
        />
        <rect
          class="secondary"
          x="24.636"
          y="12.9497"
          width="16"
          height="2"
          transform="rotate(-45 24.636 12.9497)"
          fill="black"
        />
        <rect
          class="secondary"
          x="26.0503"
          y="1.63605"
          width="16"
          height="2"
          transform="rotate(45 26.0503 1.63605)"
          fill="black"
        />
      </svg>
    </div>
  </div>
  <div
    class="open-close-btn"
    [ngClass]="{ close: buttonBarToggle }"
    (click)="toggleButtonBar()"
  >
    <svg
      version="1.0"
      xmlns="http://www.w3.org/2000/svg"
      width="90px"
      height="25px"
    >
      <line x1="5" y1="5" x2="44" y2="20" />
      <line x1="85" y1="5" x2="46" y2="20" />
    </svg>
  </div>
  <div class="header">
    <img src="../assets/LOGO.png" width="60" />
  </div>
  <div class="inner-page">
    <div class="conversion-type">
      <app-conversion-type-btn
        *ngFor="let textType of textTypes"
        #conversionBtn
        [buttonType]="textType"
        (buttonClickEmitter)="loadPage($event)"
      ></app-conversion-type-btn>
    </div>
    <div class="app-face" [ngSwitch]="loadedPageNumber">
      <ng-container *ngFor="let text of textTypes; let i = index">
        <div class="face" *ngSwitchCase="i + 1">
          <h1>{{ textTypes[loadedPageNumber - 1] }}</h1>
          <div class="input">
            <app-scrollbar
              (InScrollEmitter)="setInScrollData($event)"
              [inOut]="(text | lowercase) + '1'"
            ></app-scrollbar>
            <input
              placeholder="0"
              type="number"
              [(ngModel)]="InputNumber"
              (change)="updateScrollData()"
            />
          </div>
          <div class="equal-sign">
            <svg
              width="90"
              height="19"
              viewBox="0 0 90 19"
              fill="#0f3057"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="90" height="19" rx="5" fill="#0f3057" />
            </svg>
            <div style="height: 10px"></div>
            <svg
              width="90"
              height="19"
              viewBox="0 0 90 19"
              fill="#0f3057"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="90" height="19" rx="5" fill="#0f3057" />
            </svg>
          </div>
          <div class="output">
            <app-scrollbar
              (OutScrollEmitter)="setOutScrollData($event)"
              [inOut]="(text | lowercase) + '2'"
            ></app-scrollbar>
            <input type="number" readonly [value]="OutputNumber" />
          </div>
        </div>
      </ng-container>
      <div *ngSwitchDefault>ERROR: This conversion does not exist</div>
    </div>
  </div>

  <div class="page-modal" *ngIf="settingsToggle">
    <div class="settings-page">
      <div class="exit" (click)="toggleSettings()">
        <svg
          class="x-close-btn"
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="25px"
          height="25px"
        >
          <line x1="5" y1="5" x2="19" y2="19" />
          <line x1="5" y1="19" x2="19" y2="5" />
        </svg>
      </div>
      <h3>Settings</h3>

      <div class="settings-list">
        <h4>Rounded Output</h4>
        <label class="switch">
          <input
            [(ngModel)]="bRoundOutput"
            (change)="updateSettings()"
            type="checkbox"
          />
          <span class="slider"></span>
        </label>
        <label class="trailing-0s" [ngClass]="{ disabled: !bRoundOutput }">
          <span>Decimals</span>
          <input
            type="number"
            [(ngModel)]="decimals"
            (input)="updateSettings()"
          />
        </label>
      </div>
    </div>
  </div>
  <div class="calculator" *ngIf="calculatorToggle">
    <div class="exit left" (click)="toggleCalculator()">
      <svg
        class="x-close-btn"
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        width="25px"
        height="25px"
      >
        <line x1="5" y1="5" x2="19" y2="19" />
        <line x1="5" y1="19" x2="19" y2="5" />
      </svg>
    </div>
    <app-calculator></app-calculator>
  </div>
  <div class="history" *ngIf="historyToggle">
    <h3>History</h3>
    <div class="close-history-btn" (click)="toggleHistory()">
      <svg
        class="x-close-btn"
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        width="25px"
        height="25px"
      >
        <line x1="5" y1="5" x2="19" y2="19" />
        <line x1="5" y1="19" x2="19" y2="5" />
      </svg>
    </div>
    <div class="history-data" *ngFor="let data of historyList">
      <div class="from">{{ data.from }}</div>
      <div class="to">{{ data.to }}</div>
      <div class="history-input">{{ data.input }}</div>
      <div class="history-output">{{ data.output }}</div>
    </div>
    <div class="clear-history" (click)="clearHistory()">Clear</div>
  </div>
</div>
