@use '../../../Theme' as theme;

// scroll styling
.scroll-list {
  display: flex;
  flex-direction: column;
  width: 35em;
  overflow-y: scroll;
  justify-content: space-between;
  height: 15em;
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: theme.$primary;
  /* width */
  &::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: theme.$secondary;
    border-radius: 8px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: theme.$primary;
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: theme.$tertiary;
  }
}
.div-in,
.div-out {
  padding: 10px;
  display: grid;
  columns: 1;
  grid-template-rows: min-content auto;
  row-gap: 0.5em;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

// radio button styling
.radio {
  font-family: theme.$Poppins;
  font-size: 1.5rem;
  color: theme.$primary;
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  &:focus-within {
    .radio__label-in {
      transform: scale(1.05);
      opacity: 1;
    }
    .radio__label-out {
      transform: scale(1.05);
      opacity: 1;
    }
  }
  .radio__label-in {
    // ...existing styles
    transition: 180ms all ease-in-out;
    opacity: 0.8;
  }
  .radio__label-out {
    // ...existing styles
    transition: 180ms all ease-in-out;
    opacity: 0.8;
  }
}
.radio__input {
  display: flex;
  line-height: 1;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:focus + .radio__control-in {
      box-shadow: 0 0 0 0.05em theme.$secondary, 0 0 0.15em 0.1em currentColor;
    }
    &:focus + .radio__control-out {
      box-shadow: 0 0 0 0.05em theme.$secondary, 0 0 0.15em 0.1em currentColor;
    }
  }
  input:checked + .radio__control-in::before {
    transform: scale(1);
  }
  input:checked + .radio__control-out::before {
    transform: scale(1);
  }
  input + .radio__control-in::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    box-shadow: inset 0.5em 0.5em currentColor;
    border-radius: 50%;
    transition: 180ms transform ease-in-out;
    transform: scale(0);
  }
  input + .radio__control-out::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    box-shadow: inset 0.5em 0.5em currentColor;
    border-radius: 50%;
    transition: 180ms transform ease-in-out;
    transform: scale(0);
  }
  .radio__control-in {
    width: 1em;
    height: 1em;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 0.1em solid currentColor;
    transform: translateY(-0.1em);
  }
  .radio__control-out {
    width: 1em;
    height: 1em;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 0.1em solid currentColor;
    transform: translateY(-0.1em);
  }
}
