<div class="scroll-list">
  <div class="div-in" *ngIf="inOut === 1">
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="kilometer"
          name="length-radio-in"
          checked="checked"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Kilometer</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="meter"
          name="length-radio-in"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Meter</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-in"
          value="centimeter"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Centimeter</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-in"
          value="millimeter"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Millimeter</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-in"
          value="micrometer"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Micrometer</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-in"
          value="nanometer"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Nanometer</span>
    </label>

    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-in"
          value="mile"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Mile</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-in"
          value="yard"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Yard</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-in"
          value="foot"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Foot</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-in"
          value="inch"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Inch</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-in"
          value="lightYear"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Light Year</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-in"
          value="nauticalMile"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Nautical Mile</span>
    </label>
  </div>
  <div class="div-out" *ngIf="inOut === 2">
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-out"
          value="kilometer"
          checked="checked"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Kilometer</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-out"
          value="meter"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Meter</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-out"
          value="centimeter"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Centimeter</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-out"
          value="millimeter"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Millimeter</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-out"
          value="micrometer"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Micrometer</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-out"
          value="nanometer"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Nanometer</span>
    </label>

    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-out"
          value="mile"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Mile</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-out"
          value="yard"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Yard</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-out"
          value="foot"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Foot</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-out"
          value="inch"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Inch</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-out"
          value="lightYear"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Light Year</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="length-radio-out"
          value="nauticalMile"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Nautical Mile</span>
    </label>
  </div>
  <!--Weight----------------------------------------------------------------------------->
  <div class="div-in" *ngIf="inOut == 3">
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="metricTon"
          name="weight-radio-in"
          checked="checked"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Metric Ton</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="kilogram"
          name="weight-radio-in"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Kilogram</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="gram"
          name="weight-radio-in"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Gram</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="milligram"
          name="weight-radio-in"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Milligram</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="microgram"
          name="weight-radio-in"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Microgram</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="imperialTon"
          name="weight-radio-in"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Imperial Ton</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="usTon"
          name="weight-radio-in"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">US Ton</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="stone"
          name="weight-radio-in"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Stone</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="pound"
          name="weight-radio-in"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Pound</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="ounce"
          name="weight-radio-in"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Ounce</span>
    </label>
  </div>
  <div class="div-out" *ngIf="inOut == 4">
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="metricTon"
          name="weight-radio-out"
          checked="checked"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Metric Ton</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="kilogram"
          name="weight-radio-out"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Kilogram</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="gram"
          name="weight-radio-out"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Gram</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="milligram"
          name="weight-radio-out"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Milligram</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="microgram"
          name="weight-radio-out"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Microgram</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="imperialTon"
          name="weight-radio-out"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Imperial Ton</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="usTon"
          name="weight-radio-out"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">US Ton</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="stone"
          name="weight-radio-out"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Stone</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="pound"
          name="weight-radio-out"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Pound</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="ounce"
          name="weight-radio-out"
          (change)="changeScroll($event)"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Ounce</span>
    </label>
  </div>
</div>
