<div class="scroll-list">
  <div class="div-in" *ngIf="inOut === 1">
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          value="kilometer"
          name="radio-in"
          checked="checked"
        />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Kilometer</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" value="meter" name="radio-in" />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Meter</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-in" value="centimeter" />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Centimeter</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-in" value="millimeter" />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Millimeter</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-in" value="micrometer" />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Micrometer</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-in" value="nanometer" />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Nanometer</span>
    </label>

    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-in" value="mile" />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Mile</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-in" value="yard" />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Yard</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-in" value="foot" />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Foot</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-in" value="inch" />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Inch</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-in" value="lightYear" />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Light Year</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-in" value="nauticalMile" />
        <span class="radio__control-in"></span>
      </span>
      <span class="radio__label-in">Nautical Mile</span>
    </label>
  </div>
  <div class="div-out" *ngIf="inOut === 2">
    <label class="radio">
      <span class="radio__input">
        <input
          type="radio"
          name="radio-out"
          value="kilometer"
          checked="checked"
        />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Kilometer</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-out" value="meter" />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Meter</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-out" value="centimeter" />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Centimeter</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-out" value="millimeter" />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Millimeter</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-out" value="micrometer" />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Micrometer</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-out" value="nanometer" />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Nanometer</span>
    </label>

    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-out" value="mile" />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Mile</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-out" value="yard" />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Yard</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-out" value="foot" />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Foot</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-out" value="inch" />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Inch</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-out" value="lightYear" />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Light Year</span>
    </label>
    <label class="radio">
      <span class="radio__input">
        <input type="radio" name="radio-out" value="nauticalMile" />
        <span class="radio__control-out"></span>
      </span>
      <span class="radio__label-out">Nautical Mile</span>
    </label>
  </div>
</div>
